body {
    background: black;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    background: beige;
    padding: ;
}
/*
.grid-square {
    width: 
}
*/